body { font-family: Arial, sans-serif;
    background-color: #fbf6f3;}

    .btn-custom {
        background-color: #6AB297;
        color: white;
    }

    .btn-custom:hover {
        background-color: #5EADA2;
    }

    .form-control, .form-select {
        border: 2px solid #57B998;
        border-radius: 20px;
    }

    .container-custom {
        padding: 20px;
        margin-top: 100px;
    }

    .title {
        font-size: 2.5rem; /* Aumenta o tamanho da fonte */
        font-weight: bold;  /* Deixa o texto em negrito */
        color: rgb(71, 74, 76);
        font-family: 'Inter', sans-serif;
    }
